.top {
    width: 100%;
    height: 20%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: mediumpurple;
    color: white;
    position: sticky;
    top: 0;
}

.posts {
    font-size: 1rem;
    color: white;
    background-color: rebeccapurple;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-decoration: underline;
    line-height: 30px;
    text-align: center;
    position: relative;
    left: 200px;
}

.posts:hover {
    color: lightblue;
}

.main {
    width: 700px;
    margin: 0 auto;
}

@media (max-width: 720px) {
    .main {
        width: 100%;
        margin: 0 auto;
    }

}

.form {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input, .select, .textarea {
    max-width: 100%;
    font-size: 16px;
    outline: 0;
    display: block;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.input:focus, .select:focus, .textarea:focus {
    box-shadow: 0 0 5px blue;
    border: 1px solid blue;
}

.saveButton {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.saveButton:enabled {
    background-color: blue;
}
.postItem {
    margin: 20px auto;
    border: 2px solid #262626;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.postTitle {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.postInfo {
    margin: 10px auto 15px 10px;
}

.postInfo > span {
    margin-right: 30px;
}

.content {
    margin-left: 10px;
}

.viewPost {
    margin: 10px auto auto 10px;
    width: 120px;
    height: 40px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    outline: 0;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid #d2d2d2;
}
.viewPost:hover {
    background-color: dodgerblue;
    box-shadow: 0 0 5px blue;
    border-color: dodgerblue;
}